<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing <%= application.title %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= application.title %> at <%= application.company %></h1>
    <!-- TODO: update action attribute -->
    <form action="/users/<%= user._id %>/applications/<%= application._id %>?_method=PUT" method="post">
        <label for "company">Company</label>
        <input value="<%=application.company%>" type="text" name="company" id="comapny" />

        <label for="title">Title</label>
        <input value="<%=application.title%>" type="text" name="title" id="title" />

        <label for="notes">Notes</label>
        <textarea name="notes" id="notes">
            <%= application.notes %>
        </textarea>

        <label for="postingLink">Posting Link:</label>
        <input value="<%= application.postingLink %>" type="text" name="postingLink" id="postingLink" />

        <label for="status">Status: </label>
        <!-- select>option*5 -->
        <select name="status" id="status">
            <option value="interested" <%= application.status === 'interested' ? 'selected': ''%>>Interested</option>
            <option value="applied" <%= application.status === 'applied' ? 'selected': ''%>>Applied</option>
            <option value="interviewing" <%= application.status === 'interviewing' ? 'selected': ''%>>Interviewing</option>
            <option value="rejected" <%= application.status === 'rejected' ? 'selected': ''%>>Rejected</option>
            <option value="accepted" <%= application.status === 'accepted' ? 'selected': ''%>>Accepted</option>
        </select>
        <button type="submit">Update Application</button>
    </form>
</body>
</html>